/* ===============
      VARIABLES
  =============== */

/* COLORS */
$primary-color: #0275d8;
$secondary-color: #0084ff;
$success-color: #5cb85c;
$info-color: #5bc0de;
$warning-color: #f0ad4e;
$danger-color: #d9534f;
$inverse-color: #292b2c;
$faded-color: #f7f7f7;
$white-color: #ffffff;
$black-color: #000000;
$dark-color: #303030;
$gray-color: #808080;

/* TRANSITIONS */
$main-transition: all 0.5s ease-in-out;
